
<div class='row'>
        <div class='col-md-2'>     
            </div>

    <div class='col-md-8'>
        <h1 style='text-align: center;'>
   Enter the string:
        </h1>
              

        <ng-form name="Form">

                <div class="form-group">
                        <label>Chat text</label>
                        
                        <textarea class="form-control" name="msg" ng-model="chat.msg" ng-class="{'input-error': Form.msg.$touched &&
                        Form.msg.$invalid}" required></textarea>
                    </div>

            <div class="form-group">
                <button class="btn-bg-z-primary btn-bg-z-primary-link margin-btn-header right" 
                name="complete" type="button"
            ng-click="split()"> Split </button> 
            <br>
            <p>{{btnupdateTxt}}</p>
            </div>
                    </div>
            <!-- <button class="btn btn-primary" type="button" ng-click="addTeamMember(Form.$valid)">Send Request</button>
       -->

        </ng-form>
    </div>

    <div class='col-md-2'>     
    </div>
</div>


